JWT_SECRET=your_jwt_secret_here
RESEND_API=your_resend_api_key_here
MONGODB_URI=your_mongodb_uri_here
BYBIT_API_URL=https://api.bybit.com/v5/market
COINGECKO_API_URL=https://api.coingecko.com/api/v3
COINGECKO_API_KEY=your_coingecko_api_key_here
