EXPO_PUBLIC_API_URL=http://your-server-ip:3000/api
EXPO_PUBLIC_COINGECKO_API_URL=https://api.coingecko.com/api/v3
EXPO_PUBLIC_COINGECKO_API_KEY=your_coingecko_api_key_here
EXPO_PUBLIC_BYBIT_API_URL=https://api.bybit.com/v5/market
EXPO_PUBLIC_FRANKFURTER_API_URL=https://api.frankfurter.dev/v1/latest
EXPO_PUBLIC_WS_URL=wss://stream.bybit.com/v5/public/spot
